.slideShow {
  animation: wave 20s infinite;
  animation-direction: alternate;
}
@keyframes wave {
  0% {
    background: #363636;
  }
  50% {
    background: #c1c1c2;
  }
  100% {
    background: #363636;
  }
}
