.slideShow {
  animation: wave 10s infinite;
  animation-direction: alternate;
}
@keyframes wave {
  0% {
    background: #363636;
  }
  50% {
    background: #c1c1c2;
  }
  100% {
    background: #363636;
  }
}
.contactHover{
  width:  80%;
  
}
.contactHover :hover {
  background: #dbdad9;
  border-radius: 30px;
  cursor: pointer;
  color: black;
  
}
