.NavFBtn {
  margin-top: 90vh;
  margin-left: 1vw;
}
/* .navs {
  margin-bottom: 4%;
} */
/* .intro {
  margin-top: 4%;
  background-color: coral;
} */
.introBg {
  background-color: aqua;
}
.introD {
  color: white;
  margin: auto;
  /* width: 50%; */
  height: 50vh;
  padding-left: 10%;
  padding-top: 10vh;
  font-size: 2vw;
  /* display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-content: center; */
}
.introD h1{
  margin-top: 0;
}
.intoT {
  
  font-size: 1vw;
}
.welcome {
  font-weight: bolder !important;
}
.welcome:hover {
  cursor: pointer;
}
.introBtn {
  align-self: center;
  background-color: bisque;
  border-radius: 50px;
  font-size: 3vh;
  width: 12vw;
  height: 4vh;
  color: aqua;
}
.introBtn:hover {
  cursor: pointer;
}
