.wIntro {
  display: flex;

  justify-content: center;
  align-items: center;
  font-size: 1.5vw;
}

.miniIntro{
  display: flex;

  justify-content: center;
  align-items: center;
  font-size: 1vw;

}
.lChatContent {
  font-size: 2vh;
}
.contactContent {
  font-size: 2vh;
}
.Content {
  display: flex;

  justify-content: center;
  font-size: 1vw;
}
.imgFit {
  max-height: 30vw;
  object-fit: cover;
  transition: all 1s ease;
 

}
.imgFit:hover {
  transform: scale(1.2, 1.2);
}
.colorPicker {
  margin: 2vw;
  border-radius: 50%;
  height: 5vw;
  width: 5vw;
  transition: all 0.5s;
}
.colorPicker:hover {
  margin: 2vw;
  border-radius: 50%;
  transform: scale(1.5, 1.5);
}
.colorPicker01 {
  background-color: #1e3932;
}
.colorPicker02 {
  background-color: #24785c;
}
.colorPicker03 {
  background-color: #f2d0ad;
}
.colorPicker04 {
  background-color: #d4e9e2;
}

@media screen and (max-width:600px){
  
  .imgFit {
    max-height: 100%;
    object-fit: cover;
    transition: all 1s ease;
   
  
  }
  .Content {
    display: flex;
  
    justify-content: center;
    font-size: 2vw;
  }
  

}